<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Barnilin Equation</title>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.16/katex.min.css"
        />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tilt+Neon"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.16/katex.min.js"></script>
        <link rel="stylesheet" href="../static/style.css" />
      </head>
<body> 
    <div class="solution-container">
        <div class="boxed-content">
            <h3>Entered Equation</h3>
            <p>{{eqn | safe}}</p>
        </div>
        <div class="boxed-content">
            <h3>Solution</h3>
            <p>{{soln | safe}}</p>
        </div>
    </div>
</body>
</html>
